#patient {
    transition: all 500ms;
    border-radius: 10px;
    margin-top: 5px;
    min-height: 37px;
    background-color: #ffffffa4;
}

#patient:hover {
    background-color: #ffffffcc;
}

.record .delete {
    width: 0;
    filter: invert(0.9) sepia(100) saturate(0) hue-rotate(360deg);
    transition: all 500ms;
}

.record:hover .delete {
    width: 100%;
}

.record .delete:hover {
    filter: invert(0.9) sepia(100) saturate(40) hue-rotate(360deg);
}

.record button:focus {
    box-shadow: none;
}

.name {
    width: 60%;
}

.tel {
    width: 40%;
}

#data {
    width: 97%;
}

@media screen and (min-width: 576px) {
    .id {
        width: 3%;
    }

    .name {
        width: 15%;
    }
    
    .type {
        width: 8%;
    }
    
    .tel {
        width: 12%;
    }
    
    .add {
        width: 15%;
    }

    .dis {
        width: 47%;
    }
}