.form input,
.form select,
.form textarea {
    border-radius: 15px;
    background-color: #005792;
    border: 0;
    color: #F6F6E9;
}

.form input:focus,
.form select:focus,
.form textarea:focus {
    background-color: #0076c5;
    border: 0;
    color: #F6F6E9;
    box-shadow: 0 0 0 0.1rem #13334C;
}

.form input:focus-visible,
.form select:focus-visible,
.form textarea:focus-visible {
    outline: none;
}

.form input:disabled,
.form select:disabled,
.form textarea:disabled {
    background-color: #13334C;
    border: 0;
}

.form label {
    font-size: 17px;
    color: #13334C;
}

.form textarea {
    height: 110px;
}

.form textarea + label {
    color: #F6F6E9;
}

.form button {
    border-radius: 16px;
    transition: all 200ms;
}

.form button:hover {
    transform: scale(1.1);
}

.form .error {
    background-color: #913800;
    border: solid 1px #FD5F00;
}