.title {
    border-top-left-radius: 1.45rem;
    border-top-right-radius: 1.45rem;
}

.body {
    border-bottom-left-radius: 1.45rem;
    border-bottom-right-radius: 1.45rem;
}

.title,
.body {
    background-color: #F6F6E9;
    border: 3px solid #13334C;
}

.title span {
    color: #13334C;
}