#table {
    background-color: #19191b00;
    border: 0;
    outline: none;
}

#tableHeader {
    background-color: #005792;
    border-radius: 15px;
    border: 0;
}

#tableHeader h3 {
    color: #F6F6E9;
}