#tabs div {
    padding: 13px 25px;
    color: #F6F6E9;
    background-color: #13334C;
    font-size: 21px;
    transition: all 100ms;
    width: 350px;
    text-align: center;
    cursor: pointer;
}

#tabs div:hover {
    background-color: #1b496d;
}

#tabs .active:hover {
    background-color: #007fd3;
}

#tabs .active {
    background-color: #0072bd;
}

#tabs .start {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#tabs .end {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#tabs .small {
    width: 180px;
}