#table {
    background-color: #19191b00;
}

#table #tableHeader {
    background-color: #005792;
    border-radius: 15px;
    border: 0;
}

#tableHeader h3 {
    color: #F6F6E9;
}

#table #tableHeader h3 {
    width: 95%;
}

#table #tableHeader div {
    font-weight: 400;
    font-size: 24px;
}

#table #tableHeader .delete {
    width: 22%;
}

#table #tableHeader .type {
    width: 18%;
}

#table #tableHeader .info {
    width: 42%;
}

#table #tableHeader .date {
    width: 18%;
}